name: Flutter CI/CD Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Flutter SDK
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.38.5'

      - name: Verify Flutter installation
        run: flutter --version

      - name: Install dependencies
        run: flutter pub get

      - name: Static code analysis (CI)
        continue-on-error: true
        run: flutter analyze

      - name: Run tests (CI)
        continue-on-error: true
        run: flutter test

      - name: Build APK (CI)
        run: flutter build apk --debug

      - name: Upload APK artifact (CD)
        uses: actions/upload-artifact@v4
        with:
          name: flutter-apk
          path: build/app/outputs/flutter-apk/app-debug.apk
